/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* main.scss */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #faf7f7;
  font-family: Helvetica, Arial, sans-serif;
}

.chart_wrapper {
  position: relative;
  /* Margin around pie chart. This is optional. */
  margin: 10px;
  /* This forces the charts to display inline. This is added for this demo and is optional. */
  display: inline-block;
}
.chart_wrapper canvas {
  -webkit-border-radius: 112.5px;
  -moz-border-radius: 112.5px;
  border-radius: 112.5px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.15);
  width: 225px;
  height: 225px;
}
.chart_wrapper .circle {
  position: absolute;
  top: 30px;
  left: 30px;
  width: 165px;
  height: 165px;
  /* positioning label text vertically */
  padding-top: 50px;
  -webkit-border-radius: 112.5px;
  -moz-border-radius: 112.5px;
  border-radius: 112.5px;
}
.chart_wrapper .circle span {
  width: 100%;
  display: block;
  text-align: center;
  color: #fff;
}
.chart_wrapper .circle .title {
  font-size: 18px;
  font-weight: bold;
}
.chart_wrapper .circle .tagline {
  font-size: 12px;
}
.chart_wrapper .circle .pie_value {
  font-size: 40px;
  font-weight: bold;
  margin-top: 4px;
}
.chart_wrapper .circle.light span {
  color: #525252;
}
.chart_wrapper .circle.dark span {
  color: #fff;
}
.chart_wrapper .circle.pink {
  background: #bf008d;
}
.chart_wrapper .circle.gray {
  background: #ddd;
}
